<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3 card">
        <div class="p-0 border-0 bg-dark rounded-top card-body" style="background-image: url(assets/images/unsplash/4.jpg); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
          <div class="d-flex justify-content-between align-items-center p-3">
            <div class="d-flex align-items-center">
              <a href="#" class="widget-icon-xlg">
                <app-avatar src="assets/images/avatar.jpg" size="64" name="avatar"></app-avatar>
              </a>
              <div class="d-inline-block px-3">
                <h5 class="my-0 text-light">
                  <span class="fw-400">Gerald</span>
                  <b>Morris</b>
                </h5>
                <small class="text-light m-r">UX Developer</small>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button class="btn btn-light" style="border-radius: 20px;">Share</button>
              <span class="px-1"></span>
              <button class="btn btn-secondary" style="border-radius: 20px;">Follow</button>
            </div>
          </div>
        </div>
        <div class="p-2">
          <ul class="nav" id="socialTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'text-primary': tab === 'activity'}" role="tab" aria-controls="activity" aria-selected="false" (click)="tab='activity'">Activity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'text-primary': tab === 'about'}" role="tab" aria-controls="about" aria-selected="false" (click)="tab='about'">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'text-primary': tab === 'friends'}" role="tab" aria-controls="friends" aria-selected="false" (click)="tab='friends'">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'text-primary': tab === 'profile'}" role="tab" aria-controls="profile" aria-selected="false" (click)="tab='profile'">Account &amp; Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="tab-content">
        <div class="tab-pane fade" [ngClass]="{'show active': tab === 'activity'}" id="activity" role="tabpanel" aria-labelledby="activity-tab">
          <div class="card">
            <div class="card-body">
              <div class="activity" *ngIf="activity">
                <div class="card pb-3 m-0" *ngFor="let item of activity">
                  <div class="d-flex align-items-start justify-content-start">
                    <div class="header">
                      <app-avatar [src]="item.avatar" size="48" [name]="item.title"></app-avatar>
                    </div>
                    <div class="pl-3">
                      <span class="d-block pb-2">
                        <small class="text-muted">
                          <span>{{item.subtitle}}</span>
                        </small>
                        <span class="d-block">{{item.title}}</span>
                      </span>
                      <p>{{item.body}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': tab === 'about'}" id="about" role="tabpanel" aria-labelledby="about-tab">
          <div class="card">
            <div class="divider">
              <span class="divider-inner">
                <small>About me</small>
              </span>
            </div>
            <div class="card-body">
              <div class="d-flex mb-2 justify-content-around">
                <div class="w-50">
                  <small class="d-block text-muted">Mobile</small>
                  <span>+20 0593 4095</span>
                </div>
                <div class="w-50">
                  <small class="d-block text-muted">Extension</small>
                  <span>94</span>
                </div>
              </div>
              <div class="d-flex mb-2 justify-content-around">
                <div class="w-50">
                  <small class="d-block text-muted">Birthday</small>
                  <span>30.09.67</span>
                </div>
                <div class="w-50">
                  <small class="d-block text-muted">Country</small>
                  <span>South Africa</span>
                </div>
              </div>
              <div class="d-flex mb-2 justify-content-around">
                <div class="w-50">
                  <small class="d-block text-muted">Occupation</small>
                  <span>Assistant</span>
                </div>
                <div class="w-50">
                  <small class="d-block text-muted">Mobile</small>
                  <span>+23908924</span>
                </div>
              </div>
              <div class="d-flex mb-2 justify-content-around">
                <div class="w-50">
                  <small class="d-block text-muted">Twitter</small>
                  <span>@mrperkins</span>
                </div>
                <div class="w-50">
                  <small class="d-block text-muted">Facebook</small>
                  <span>mrperkins</span>
                </div>
              </div>
            </div>
            <div class="divider">
              <span class="divider-inner">
                <small>Quick Bio</small>
              </span>
            </div>
            <div class="card-body">
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': tab === 'friends'}" id="friends" role="tabpanel" aria-labelledby="friends-tab">
          <div class="card">
            <div class="card-body">
              <div class="row" *ngIf="contacts">
                <div class="col-6" *ngFor="let contact of contacts">
                  <a class="w-100 d-flex flex-row align-items-center nav-link">
                    <app-avatar [src]="contact.avatar" size="48" [name]="contact.name" [status]="getStatus()"></app-avatar>
                    <span class="ml-3">
                      <span class="d-block">{{contact.name}}</span>
                      <small class="text-muted">
                        <span>{{contact.status}}</span>
                      </small>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': tab === 'profile'}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="card">
            <form class="">
              <div class="divider">
                <span class="divider-inner">
                  <small>Basic information</small>
                </span>
              </div>
              <div class="card-body">
                <div class="row form-group">
                  <label for="fname" class="text-right col-sm-3 col-form-label">First name</label>
                  <div class="col-sm-7">
                    <input name="fname" id="fname" placeholder="First name" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="lname" class="text-right col-sm-3 col-form-label">Last name</label>
                  <div class="col-sm-7">
                    <input name="lname" id="lname" placeholder="Last name" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="email" class="text-right col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-7">
                    <input name="email" id="email" placeholder="Email" type="email" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="phone" class="text-right col-sm-3 col-form-label">Phone number</label>
                  <div class="col-sm-7">
                    <input name="phone" id="phone" placeholder="Phone" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="company" class="text-right col-sm-3 col-form-label">Company name</label>
                  <div class="col-sm-7">
                    <input name="company" id="company" placeholder="Company" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="company_site" class="text-right col-sm-3 col-form-label">Company website</label>
                  <div class="col-sm-7">
                    <input name="compant_site" id="company_site" placeholder="Company website" type="text" class="form-control"></div>
                </div>
              </div>
              <div class="divider">
                <span class="divider-inner">
                  <small>Contact information</small>
                </span>
              </div>
              <div class="card-body">
                <div class="row form-group">
                  <label for="address-line-1" class="text-right col-sm-3 col-form-label">Address line</label>
                  <div class="col-sm-7">
                    <input name="address-line-1" id="address-line-1" placeholder="Address line 1" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="address-line-2" class="text-right col-sm-3 col-form-label">Address line</label>
                  <div class="col-sm-7">
                    <input name="address-line-2" id="address-line-2" placeholder="Address line 2" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="city" class="text-right col-sm-3 col-form-label">City</label>
                  <div class="col-sm-7">
                    <input name="city" id="city" placeholder="City" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="city" class="text-right col-sm-3 col-form-label">State</label>
                  <div class="col-sm-7">
                    <input name="state" id="state" placeholder="State" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="postcode" class="text-right col-sm-3 col-form-label">Postcode</label>
                  <div class="col-sm-7">
                    <input name="postcode" id="postcode" placeholder="Postcode" type="text" class="form-control"></div>
                </div>
                <div class="row form-group">
                  <label for="country" class="text-right col-sm-3 col-form-label">Country</label>
                  <div class="col-sm-7">
                    <input name="country" id="country" placeholder="Country" type="text" class="form-control"></div>
                </div>
              </div>
              <div class="pt-1 pb-3">
                <div class="row form-check">
                  <div class="col-sm-9 offset-sm-3">
                    <button class="btn btn-primary">Submit</button>
                    <span class="px-1"></span>
                    <button class="btn btn-secondary">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="w-50">
              <h4 class="m-0">
                <span class="fw-400">Gerald</span>
                <b>Morris</b>
              </h4>
              <small>gerald@morris.com</small>
              <p class="my-2">UX Developer</p>
              <a href="#" class="mt-0 d-block">email@contact.com</a>
              <a href="#" class="mt-1 d-block">www.example.com</a>
              <a href="#" class="mt-1 d-block">+1234567890</a>
            </div>
            <div class="w-50 text-center">
              <app-avatar src="assets/images/avatar.jpg" size="128" name="Gerald Morris"></app-avatar>
              <div class="m-1 text-center">
                <p class="mb-1">Account Storage</p>
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Documents</div>
                  <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">Unused</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider">
          <span class="divider-inner">
            <small>Stats</small>
          </span>
        </div>
        <div class="card-body">
          <div class="text-center row">
            <div class="col">
              <h2 class="m-0">
                <b>23,8K</b>
              </h2>
              <small>Followers</small>
            </div>
            <div class="col">
              <h2 class="m-0">
                <b>569</b>
              </h2>
              <small>Following</small>
            </div>
            <div class="col">
              <h2 class="m-0">
                <b>67</b>
              </h2>
              <small>Posts</small>
            </div>
          </div>
        </div>
        <div class="divider">
          <span class="divider-inner">
            <small>About me</small>
          </span>
        </div>
        <div class="card-body">
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
        </div>
      </div>
    </div>
  </div>
</div>
