<!-- Main Sidebar -->
<div class="sidebar bg-dark page-sidebar" style="transform:translateX(0);min-width:280px;max-width:280px">
  <div class="h-100 d-flex flex-column flex-1">
    {{- $url := split .Permalink "/" -}}
    {{- $page_slug := index $url (sub (len $url) 2) -}}

    <nav class="navbar navbar-expand-md  d-none d-lg-flex d-xl-flex bg-dark">
      <a href="#" class="navbar-brand">
        <svg width="24" height="24">
          <use xlink:href="#logo-icon"></use>
        </svg>
        <span class="ml-3">Eleven</span>
      </a>
      <a href="javascript:;" class="nav-toggle">
        <span class="animated-icon">
          <div style="width:24px;height:24px" data-animation-path="vendor/animated-icons/menu-back/menu-back.json" data-anim-loop="false"></div>
        </span>
      </a>
    </nav>
    <ul class="d-block scroll-y flex-1 py-3 nav flex-column">
      {{- range $group := .Site.Data.sidebar -}}
      {{- $group_slug := $group.name | urlize -}}
      {{- $active_group := eq $.Page.Params.group $group_slug }}
      <div class="sidebar-item">
        <li class="nav-item {{ if $active_group }} active{{ end }}">
          <a class="nav-link d-flex align-items-center nav-link" href="{{ if not $group.children }}{{ $group.path }}{{ end }}{{ if $group.children }}javascript:;{{ end }}">
            <span class="animated-icon">
              <div style="width:18px;height:18px" data-animation-path="{{ $group.icon }}" data-anim-loop="false"></div>
            </span>
            <span class="mr-auto menu-name">{{ $group.name }}</span>
            {{- if $group.badge }}
            <span class="badge badge-{{ $group.badge.type }} badge-pill">{{ $group.badge.value }}</span>
            {{- end }}
            {{- if $group.children }}
            <span class="caret">
              <span class="animated-icon">
                <div style="width:12px;height:12px" data-animation-path="vendor/animated-icons/expand/expand.json"></div>
              </span>
            </span>
            {{- end }}
          </a>
          {{- if $group.children }}
          <div class="sub-menu collapse {{ if $active_group }} show{{ end }}" aria-expanded="false">
            <ul class="nav flex-column">
              {{- range $child := $group.children -}}
              {{- $child_slug := $child.name | urlize }}
              <li class="nav-item {{ if and $active_group (eq $page_slug $child_slug) }} active{{ end }}">
                <a href="{{ if $group.path }}{{ $group.path }}/{{ $child.path }}{{ else }}{{ $child.path }}{{ end }}" class="nav-link">
                  <span class="mr-auto menu-name">{{ $child.name }}</span>
                  {{- if $child.badge }}
                  <span class="badge badge-{{ $child.badge.type }} badge-pill">{{ $child.badge.value }}</span>
                  {{- end }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
          {{- end }}
        </li>
      </div>
      {{- end }}
    </ul>
  </div>
</div>
<div class="page-overlay" style="visibility:hidden;opacity:0"></div>
