<!-- News feed card -->
<div class="card">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-between"><span>Feed</span>
      <div role="group" class="button-shadow btn-group-sm btn-group">
        <button class="btn btn-outline-secondary">◄</button>
        <button class="btn btn-outline-secondary">►</button>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <a href="#" class="list-group-item-action list-group-item">
      <div class="d-flex align-items-center py-1">
        <span class="position-relative d-flex rounded-circle" style="width: 48px; height: 48px;">
          <span class="d-flex align-items-center justify-content-center w-100 h-100 bg-warning text-light rounded-circle">S</span>
        </span>
        <div class="pl-3">
          <span class="d-block">Samantha West</span>
          <small>Added event to calendar</small>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item-action list-group-item">
      <div class="d-flex align-items-center py-1">
        <span class="position-relative d-flex rounded-circle" style="width: 48px; height: 48px;">
          <span class="d-flex align-items-center justify-content-center w-100 h-100 bg-primary text-light rounded-circle">S</span>
        </span>
        <div class="pl-3">
          <span class="d-block">Samantha West</span>
          <small>Paid pending invoice</small>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item-action list-group-item">
      <div class="d-flex align-items-center py-1">
        <span class="position-relative d-flex rounded-circle" style="width: 48px; height: 48px;">
          <img src="images/face5.jpg" alt="Roy Matthews" width="48px" height="48px" class="rounded-circle">
        </span>
        <div class="pl-3">
          <span class="d-block">Roy Matthews</span>
          <small>Added event to calendar</small>
        </div>
      </div>
    </a>
  </ul>
</div>