<!-- Image stat card -->
<div class="card">
  <div class="cover" style="height: 201px;">
    <div class="rounded-top overflow-hidden carousel slide" data-ride="carousel" id="widgetCarousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <div class="image" style="background-image: url(images/unsplash/2.jpg); height: 201px;"></div>
        </div>
        <div class="carousel-item">
          <div class="image" style="background-image: url(images/unsplash/1.jpg); height: 201px;"></div>
        </div>
        <div class="carousel-item active">
          <div class="image" style="background-image: url(images/unsplash/13.jpg); height: 201px;"></div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#widgetCarousel" class="" data-slide-to="0"></li>
        <li data-target="#widgetCarousel" class="" data-slide-to="1"></li>
        <li data-target="#widgetCarousel" class="active" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="text-center col">
        <h5 class="mb-0">24</h5><small>Comments</small>
      </div>
      <div class="text-center col">
        <h5 class="mb-0">45</h5><small>Likes</small>
      </div>
      <div class="text-center col">
        <h5 class="mb-0">984</h5><small>Shares</small>
      </div>
    </div>
  </div>
</div>