<!-- Image stat profile card -->
<div class="card">
  <div class="cover" style="height: 201px;">
    <div class="rounded-top overflow-hidden carousel slide" data-ride="carousel" id="profileWidgetCarousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="image" style="background-image: url(images/unsplash/4.jpg); height: 201px;"></div>
        </div>
        <div class="carousel-item">
          <div class="image" style="background-image: url(images/unsplash/6.jpg); height: 201px;"></div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#profileWidgetCarousel" class="" data-slide-to="0"></li>
        <li data-target="#profileWidgetCarousel" class="" data-slide-to="1"></li>
      </ol>
    </div>
    <div class="content text-center p-4">
      <div class="mb-4 justify-content-around align-items.center row">
        <div class="profile-card-picture">
          <button type="button" class="message btn btn-secondary">
            <span class="animated-icon">
              <div style="width:16px;height:16px" data-animation-path="vendor/animated-icons/speech/speech.json" data-loop="true" data-auto-play="true"></div>
            </span>
          </button>
          <span class="position-relative d-flex rounded-circle" style="width: 100px; height: 100px;">
            <img src="images/face1.jpg" alt="John Doe" width="100px" height="100px" class="rounded-circle">
          </span>
        </div>
      </div>
      <h6 class="mb-0 text-white">John Doe - <small class="text-white">London, Uk</small></h6>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="text-center col">
        <h5 class="mb-0">24</h5><small>Comments</small>
      </div>
      <div class="text-center col">
        <h5 class="mb-0">45</h5><small>Likes</small>
      </div>
      <div class="text-center col">
        <h5 class="mb-0">984</h5><small>Shares</small>
      </div>
    </div>
  </div>
</div>