<!-- Post card -->
<div class="card">
  <div class="cover" style="height: 294px;">
    <div class="rounded-top overflow-hidden carousel slide" data-ride="carousel" id="postCarousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="image" style="background-image: url(images/unsplash/1.jpg); height: 294px;"></div>
        </div>
        <div class="carousel-item">
          <div class="image" style="background-image: url(images/unsplash/15.jpg); height: 294px;"></div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#postCarousel" class="" data-slide-to="0"></li>
        <li data-target="#postCarousel" class="" data-slide-to="1"></li>
      </ol>
    </div>
    <div class="title p-4">
      <h6 class="mb-0 text-white">Shrimp and Chorizo Paella</h6><small class="mb-0 text-white-50">Yesterday</small>
    </div>
  </div>
  <div class="card-body">
    <div class="post-content">Phileas Fogg and Aouda went on board, where they found Fix already installed. Below deck was a square cabin, of which the walls bulged out in the form of cots, above a circular divan; in the centre was a table provided with a swinging lamp.</div>
  </div>
</div>